html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
     background: none repeat scroll 0% 0% transparent;
     border: 0px none;
     font-size: 100%;
     margin: 0px;
     outline: 0px none;
     padding: 0px;
     vertical-align: baseline;
}

@font-face {
    font-family: fancyfont;
    src: url('./fonts/TypoLatinserif-Bold.ttf');
}


@font-face {
    font-family: courierprime;
    src: url('./fonts/courierPrime.ttf');
}

body {
     background: none repeat scroll 0% 0% #ddd;
     color: #C4C4C4;
     font-family: serif;
     font-size: 1.25em;
     line-height: 1.5;
     margin: 0px 2em;
     font-family: 'fancyfont', serif;
}

p {
    font-family: 'fancyfont', serif;
    color: #444;
    margin-bottom: 2ex;
}

:focus {
     outline: 0px none;
}

.navheader {
     background: none repeat scroll 0% 0% #121212;
     border-color: #333333;
     border-image: none;
     border-radius: 0px 0px 12px 12px;
     border-style: none solid solid;
     border-width: 0px 1px 1px;
     box-shadow: 4px 4px 4px #000000;
     margin-left: auto;
     margin-right: auto;
     padding: 0.5em;
     width: 80%;
}

.navheader hr {
     display: none;
     text-align: center;
}

.navheader a:hover {
     border-bottom: 1px dotted #bbb;
     color: #bbb;
     text-decoration: none;
}

h2, h1 {
     color: #444444;
     font-family: 'fancyfont',serif;
     font-size: 1.5em;
     padding-bottom: 1ex;
     padding-top: 1ex;
     text-align: center;
}
h1.title {font-size: 2em;}

h2.subtitle {margin-top:-1em;}

.mediaobject {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2ex;
    width: 43%;
  
}

.mediaobject + p, .mediaobject + p + p {
    width: 66.66%;
    margin: 0 auto 0 auto;
    background-color: #bbb;
    margin-bottom: 2ex;
    border-bottom: 1px solid #666;
    padding: 0.5ex 0.5em;
}

.command {
    font-family: 'courierprime';
}

.screen {
     background-color: #000000;
     color: #AADCE4;
     padding: 0.8em;
     width: 66.66%;
    margin-left: auto;
    margin-right: auto;

}

.prompt {
     float: left;
}

.command {
     display: inline;
}

a:link {color: #333; text-decoration: none;}
a:active {color: #333;text-decoration: none;}
a:visited {color: #555;text-decoration: none;}
a:hover {
     border-bottom: 1px dotted #111;
     color: #111;
     text-decoration: none;
}


.navheader a {
    color: #3165a6;
}

.tip {
    width: 66.66%;
    margin: 0 0 0 4em;
    background-color: #bbb;
    margin-bottom: 0.5ex;
    border-bottom: 1px solid #666;
}

.tip .title {
    color: #114545;
    background-color: #999;
}

.tip p {
    padding: 0.5ex 0.5em;}

.navfooter {
    margin-top: 9ex;
}

.navfooter td {
    color: #444;
}

